[submodule "nvim/kickstart.nvim"]
	path = nvim/kickstart.nvim
	url = git@github.com:ritananashi/kickstart.nvim.git
[submodule "tmux/plugins/tmux-catppuccin"]
	path = tmux/plugins/tmux-catppuccin
	url = git@github.com:ritananashi/tmux-catppuccin.git
